button {
    width: 120px;
    height: 40px;
    outline: 0;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    border: 1px #1E434C solid;
    background-color: #1E434C;
    transition: all .2s linear;
    font-family: 'Montserrat', sans-serif;
}

button:hover {
    background-color: transparent;
    color: #1E434C;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

form input, textarea {
    margin-bottom: 10px;
}

form textarea {
    max-width: 400px;
}

.results {
    margin-top: 10px;
}

input[type='text'] {
    width: 25%;
}

input[type='file'] {
    color: transparent;
    width: 118px;
}

input.minmax-input {
    width: 50px;
}

.display-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.display-row input {
    margin-bottom: 0;
    margin-right: 5px;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
}

td {
    padding: 20px;
    border: 1px #000 solid;
}

#dataChart {
    display: none;
}