{% extends 'main/layout.html' %}

{% block content %}
    <div class="analyse-wrapper">
        <h1>Про проект</h1>
        <p>Аналізатор тексту - програма для аналізу часто та рідко вживаних слів у тексті, пошуку слів за контекстом, аналізу тональності тексту. За допомогою цієї програми ви можете знайти найбільш уживані слова у статтях, книгах, підручниках тощо.</p>
        <h2>Основні функції програми</h2>
        <ul class="exception-ul">
            <li>Аналіз часто/рідко вживаних слів у тексті</li>
            <li>Пошук слів з контекстом</li>
            <li>Загальний аналіз тональності тексту, пошук речень за тональністю</li>
        </ul>
        <h2>Виконання програми</h2>
        <p>Для виконання основних функцій програми необхідно перейти у випадаюче меню "Аналіз тексту" та обрати необхідну.</p>
        <p>Після вибору необхідної функції відкриється сторінка, де, перш за все, необхідно буде обрати файл або вписати текст вручну. Варто зауважити, що вписування тексту вручну має свої обмеження - не більше 1000 слів, тоді як на файлову систему обмежень майже немає.</p>
        <p>Після введення тексту вкажіть подальшу інформацію та натисніть "Аналізувати". Результат виконання програми з'явиться під формою.</p>
        <h2>Настроювання</h2>
        <p>На сторінці "Налаштування" можна задати деякі константи для роботи з текстом. Тут розмір групи слів вказує на групи слів у часто вживаних словах.</p>
        <h2>Додатково</h2>
        <p>У програмі можуть використовуватись такі скорочення як: ЧВС, РВС. У розшифровці вони позначають "Часто вживані слова" та "Рідко вживані слова" відповідно.</p>
        <p>У режимах аналізу краще використовувати функцію вибору файлу для великих текстів.</p>
    </div>
{% endblock %}

{% block title %}
    Про проект
{% endblock %}