{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'main/img/favicon.ico' %}">
</head>
<body>
    <header>
        <div class="header-wrapper">
            <nav>
                <a href="{% url 'home' %}">Головна</a>
                <div class="dropdown">
                    <a href="{% url 'often' %}" class="wrap-link">Аналіз тексту</a>
                    <div class="dropdown-menu">
                        <a href="{% url 'often' %}">Часто/рідко вживані слова</a>
                        <a href="{% url 'search' %}">Пошук слів</a>
                        <a href="{% url 'nltk_ton' %}">Аналіз тональності тексту</a>
                    </div>
                </div>
                <a href="{% url 'settings' %}">Налаштування</a>
                <div class="dropdown">
                    <a href="{% url 'about' %}" class="wrap-link">Допомога</a>
                    <div class="dropdown-menu">
                        <a href="{% url 'about' %}">Про програму</a>
                    </div>
                </div>
            </nav>
            <a href="https://t.me/Grooove4life" target="_blank"><i class="fa-brands fa-telegram"></i></a>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <script type="text/javascript" src="{% static 'main/js/script.js' %}"></script>
    <script src="https://kit.fontawesome.com/16e36ddffb.js" crossorigin="anonymous"></script>
    {% block misc_js %}
    {% endblock misc_js %}
</body>
</html>