{% extends 'main/layout.html' %}

{% block content %}
    <div class="content-wrapper">
        <h1>Аналіз тональності тексту</h1>
        <form name="oftenForm" action="{% url 'nltk_ton' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.text }}
            <p class="file-info"></p>
            {{ form.file }}
            <p>Програма завжди виводить діаграму без урахування заданих обмежень. Вони діють лише на ті речення, що користувач хоче побачити у вигляді таблиці.</p>
            <p>Введіть проміжок значення тональності речень, що будуть виводитися у вигляді таблиці:</p><br>
            {{ form.min_ton.label }}
            {{ form.min_ton }}
            {{ form.max_ton.label }}
            {{ form.max_ton }}

            <button type="submit">Аналізувати</button>
        </form>
        <canvas id="dataChart" aria-label="mood graph" role="img"></canvas>
        <p class="results">{{ info }}</p>
    </div>
{% endblock %}
{% block misc_js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('dataChart')
        try {
            const data = JSON.parse("{{data|escapejs}}");
            for(var x in data){ 
                console.log(x, data[x])
            }
            ctx.style.display = 'block'
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: data.totalX,
                    datasets: [{
                        label: 'Кількість речень',
                        data: data.totalY,
                        borderWidth: 1,
                        backgroundColor: '#242424',
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                        },
                        x: {
                        }
                    }
                }
            });
        } catch (e) {
            console.log('caught', e)
        }
    </script>
{% endblock %}

{% block title %}
    Аналіз тональності тексту
{% endblock %}